.feature-head{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 50px 0;

    h2{
        font-size: 50px;
        width: 30%;
    }

    p{
        width: 40%;
        font-size: 18px;
        color: var(--second-color);
    }

    button{
        width: 162px;
        height: 66px;
        background-color: var(--prymary-color);
        border-radius: 70px;
        border: none;
        color: white;
        font-size: 18px;
    }

    button:hover{
        cursor: pointer;
        box-shadow: 1px 1px 5px gray;
    }
}

.feature-cards{
    display: flex;
    gap: 50px;
    margin: 50px 0 50px 0;
}
.feature-cards_card{
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2{
        font-size: 30px;
    }

    p{
        font-size: 18px;
        color: var(--second-color);
    }
}


@media screen and (max-width: 320px){

    .feature-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        
        
        h2{
            font-size: 30px;
            width: 100%;
        }

        p{
            width: 100%;
        }
    }

    .feature-cards{
        flex-direction: column;
        text-align: center;
    }
}