.collabs{
  /* arriba, derecha, abajo, izquierda*/
  margin: 50px 0px 50px 0;
}

.collabs-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 40px 0 40px 0;


  h2{
    font-size: 40px;
  }

  img{
    margin: 0 20px;
  }
}

@media screen and (max-width: 320px){
  .collabs-content{
    h2{
      font-size: 30px;
      text-align: center;
    }

    .collabs_brand{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
  }
}